h2,
h3 {
  margin: 0;
}

body {
  overflow-x: hidden;
}

.home {
  .white-ball {
    background: #fff;
    border-radius: 50%;

    position: absolute;
  }

  .white-ball-50 {
    width: 50px;
    height: 50px;
  }

  .white-ball-100 {
    width: 100px;
    height: 100px;
  }

  .white-rectangular {
    background: #fff;

    position: absolute;
  }

  .white-rectangular-25 {
    width: 200px;
    height: 25px;
  }

  .white-rectangular-50 {
    width: 300px;
    height: 50px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    color: #fff;
    background: #8c52ff;

    padding: 50px 0;

    #title {
      font-size: 64px;
      //font-family: "Open Sans Extra Bold",
    }
  }

  .container {
    //height: 10000px;

    .content-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 100%;
      height: 100vh;

      background: #fff;

      position: relative;

      .phone {
        width: 40%;
      }

      .text {
        width: 40%;
      }

      .text-right {
        text-align: right;
      }

      @media screen and (max-width: 768px) {
        justify-content: center;
        flex-direction: column;

        .text {
          text-align: center;
          margin: 20px 0;
        }
      }
    }

    .pong-container {
      background: linear-gradient(lighblue, purple);
    }

    .box {
      width: 100px;
      height: 100px;
      background: red;
    }
  }
}
